body {
  background-color: #f8f9fa;
  font-size: 16px; /* You can adjust the font size as needed */
  margin: 0; /* Remove all margins */
  padding: 0; /* Remove padding */
}

.container {
  width: 100%; /* Set width to fill the entire screen */
}

.img-fluid {
  max-width: 80%; /* Set maximum width for the GIF */
  height: 60%; /* Maintain aspect ratio */
}
